.projects-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-tab {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #000;
}

.connecting-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 20px;
}

.row {
    margin: 0 auto;    
    gap: 16px;
    width: 100%;
    max-width: none;
    padding: 0 15px;
}

.card {
    flex-grow: 1;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    overflow: auto; 
    min-width: 250px;
}

.card-img-top {
    height: auto;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.card-body .title {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 0.85em;
    line-height: 1.5;
    margin-bottom: 10px;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .title {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 1.75em;
    }
}
