.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: white;
    padding: 10px;
    margin: 0;
}

.section-tab {
    padding: 20px;
    border: 2px solid #000;
    border-right: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.section-tab:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
}

.connecting-line {
    width: 10%;
    height: 4px;
    background-color: #000;
    /* margin-right: 20px; */
    transform: translateY(100%);
}

.carousel {
    max-width: 700px;
    max-height: 500px;
    margin: auto;
}

.carousel-content {
    padding: 10%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}

.card-Image-top {
    max-width: 100%;    
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px black;
}

.carousel-caption {
    margin: 150px;
    font-size: 12px;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: black;
    /* background-color: white; */
}

.carousel-caption .title {
    font-size: 16px;
    font-weight: bold;
    /* text-decoration: underline; */
    color: black;
}

.carousel-caption p {
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
}





@media (min-width: 768px) {
    .carousel {
        max-width: 800px;
        max-height: 600px;
    }
    .title {
        font-size: 2em;
    }
}

@media (min-width: 992px) {
    .carousel {
        max-width: 900px;
        max-height: 700px;
    }
    .title {
        font-size: 2.5em;
    }
}
