.profile-container {
    top: 0;
    left: 0;
    bottom: 0;
}

.profile-pic {
    border-radius: 50%;
    border: 5px solid rgb(101, 101, 101);
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: center;
    zoom: 1.25;
}

.user-name {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;    
    font-weight: bold;
}

@media (min-width: 992px) {
    .profile-container {
        top: 0;
        left: 0;
        bottom: 0;
    }
}