.resume-container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    padding-left: 20px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: black;
}

.timeline-item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.timeline-icon-container {
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    transform: translateX(-50%);
    z-index: 2;
    padding-left: 0;
}

.timeline-icon {
    color: black;
}

.timeline-content {
    position: relative;
    /* background: #f9f9f9; */
    border-radius: 8px;
    /* border: 1px solid #e0e0e0; */
    padding: 5px;
    max-width: 70%;
    text-align: left;
}

.resume-location {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.resume-title {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-style: italic;
}

.fw-bold span {
    background-color: rgb(225, 224, 251);
    padding: 4px 8px;
    
}

.timeline-item.right .timeline-content::before {
    left: -10px;
}

.timeline-item:not(.right) .timeline-content::before {
    right: -10px;
}

.timeline-content h1 {
    font-size: 14px;
    color: black;
}

@media (min-width: 1200px) {
    .resume-container {
        padding-left: 300px;
    }

    .timeline-content {
        max-width: 35%;
        margin-top: 10px;
    }

    .timeline-item.right .timeline-content {
        text-align: right;
    }

    .timeline-content {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .timeline-item.right .timeline-content {
        text-align: right;
    }
}
