.header-about {        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-size: 24px;
    border: 2px solid black;
}

.body-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
}

@media (min-width: 768px) {
    .header-about {
        font-size: 70px;
    }
    .body-about {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .header-about {
        font-size: 100px;
    }
    .body-about {
        font-size: 16px;    
        width: 50vw;
    }
}