.contact-container {    
    display: flex;
    flex-direction: column;    
    justify-content: center;
    background-color: rgb(27, 23, 23);
    background: #040b14;
    padding-top: 4%;
    width: 100%;
}

.body-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    list-style: none;
    padding-bottom: 4%;  
    letter-spacing: 4px;  
}

.links {
    text-decoration: none;
    color: gray;
}

.links:hover {
    color: white;
}

@media (min-width: 992px) {

    .contact-container {
        padding-top: 4%;
    }
    
    .body-contact {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 24px;
        list-style: none;
    }

    .links:hover {
        color: white;
    }
}