.hero-container {
    background-image: url('/public/colorful-gradient-digital-art-abstract-tn-3840x2400.jpg');    
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.hero-section {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

.hero-section h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-top: 75%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.typed-container {
    font-size: 18px;
    text-align: left;
    margin-left: 10%;
    width: 90%;
}

.typed, .typedSkills {
    width: 200px;
    transition: all 0.3s ease-in-out;    
    color: white;
}

.typedSkills {
    text-decoration: underline;    
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    color: white;
}

.bio-item {
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
}

.bio-item h2 {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .hero-section h1 {
        font-size: 60px;
    }
    .typed-container {
        font-size: 30px;

    }
}

@media (min-width: 992px) {
    .hero-section h1 {
        font-size: 80px;
        margin-top: 18%;
        margin-left: 18%;
        margin-bottom: 1.5%;
    }
    .typed-container {
        font-size: 40px;
        margin-left: 18%;
    }
}
