.App-container {
  display: flex;
  flex-direction: row;
}

.App {  
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 300px;
  border: solid 2px black;
  background-color: rgb(27, 23, 23);
}

.App1-container {  
  padding-left: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* border-radius: 1em ; */
  /* box-shadow: 2em 2em 2em 2em rgba(0, 0, 0, 0.5); */
  /* padding: 1em; */
  background-color: white;
}

/* .Profile, .about, .work, .resume, .contact-container {
  flex: 1;
} */

.dark {
  background-color: #333;
  /* color: white; */
}

.dark-side {
  background-color: white;
  
}