.App-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(27, 23, 23);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  z-index: 9996;
  padding: 0 15px;
  background: #040b14;
}

.App1-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.mobile-nav-active .App {
  transform: translateX(0);
}

.App {
  transform: translateX(-250px);
}

.toggle-button {
  background-color: rgb(214, 64, 172, 0.5);
  border-radius: 25px;
  border: whitesmoke;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}

.toggle-button .bar1,
.toggle-button .bar2,
.toggle-button .bar3 {
  align-self: center;
  width: 1rem;
  height: 0.15rem;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.toggle-button.toggled .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle-button.toggled .bar2 {
  opacity: 0;
}

.toggle-button.toggled .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

.dark {
  background-color: #333;
}

.dark-side {
  background-color: white;
}

@media (min-width: 1200px) {
  .App-container {
      flex-direction: row;
  }

  .App {
      width: 300px;
      /* border: solid 2px black; */
      transform: translateX(0);
  }

  .App1-container {
      /* padding-left: 250px; */
  }

  .toggle-button {
      display: none; 
  }
}

@media (max-width: 1199px) {
  .App {
      transform: translateX(-250px); 
  }

  .mobile-nav-active .App {
      transform: translateX(0);
  }

  .toggle-button {
      display: flex;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(214, 64, 172, 0.5);
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

.scrollToTop:hover {
  background-color: rgb(214, 64, 172);
}